/* Asterisk wildcard selector to override defalt styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sixtyfour', sans-serif;

}

/* General Styles  */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic Project Styles*/
    color: #3a3a3a;
}


/* Header */
header {
    background-color: blue;
}

/* Main content */
main {
    background-color: rgb(194, 32, 21);
    /* Make mais element take up any surplus space to push footer down */
    flex: 1 0 auto;

}

/* Footer */
footer {
    background-color: brown;
}


@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap')