/* Asterisk wildcard selector to override defalt styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sixtyfour', sans-serif;

}

/* General Styles  */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic Project Styles*/
    color: #000000;
    font-family: 'Lato', sans-serif;
}


/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px red;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;

}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

.nav-toggle-label {
    font-size: 2em

}

/* <nav> bar syles with a dropdown toggle */

nav {
    position: absolute;
    background-color: inherit;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;

}

/* Nav toggle */ 
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
    font-size: x-large;
}

/* Main content */
main {
    background-color: rgb(22, 221, 228);
    /* Make mais element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 40px;

}

/* Footer */
footer {
    background-color: white;
}


@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap')